.test-taker-preview{

    &__id{
        color:gray;
        font-size: 20px;

        &:before{
            content: '#'
        }
    }
    &__first-name, &__last-name{
        font-size: 36px;
        text-transform: capitalize;
        display: inline-block;
    }
    &__first-name{
        margin-right: 5px;
    }
    &__details-box{

        &_hidden{
            display: none;
        }
        
    }
    &__show-details{
        border: 0px;
        width: 100%;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: lightgrey;
        }

        &:before{
            content: "";
            display: block;
            border-left: 3px solid black;
            border-bottom: 3px solid black;
            transform: rotate(-45deg);
            width: 10px;
            height: 10px;
        }

        &_opened{
            &:before{
                transform: rotate(135deg);
            }
        }
    }

}