@keyframes side {
    from {transform: translateX(0)}
    to {transform: translateX(500%)}
    }

.test-taker-preview{
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: 
    'picture name'
    'picture id'
    'details details'
    ;
    grid-template-columns: 100px 1fr;

    &__picture{
        grid-area: picture;
        width: 100px;
        height: 100px;
        clip-path: circle();

        font-size: 50px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;

        img{
            max-width: 100%;
        }
    }
    &__id{
        grid-area: id;
        color:gray;
        font-size: 20px;

        &:before{
            content: '#'
        }
    }
    &__name{
        grid-area: name;
        font-size: 36px;
        text-transform: capitalize;
        display: inline-block;
        align-self: end;
    }
    &__details{
        grid-area: details;
    }
    &__details-box{
        
        &_hidden{
            display: none;
        }

        &[data-loaded="false"]:after{
            content: "loading";
            font-size: 0;
            display: block;
            background-color: var(--accent-color);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            animation-name: side;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;
            animation-direction: alternate;
            animation-timing-function: ease-in-out;
        }
        
    }
    &__show-details{
        border: 0px;
        width: 100%;
        height: 30px;
        background: transparent;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover{
            background-color: lightgrey;
        }

        &:before{
            content: "";
            display: block;
            border-left: 3px solid black;
            border-bottom: 3px solid black;
            transform: rotate(-45deg);
            width: 10px;
            height: 10px;
        }

        &_opened{
            &:before{
                transform: rotate(135deg);
            }
        }
    }

}