body {
  --accent-color: #4455ff;
  --radius: 5px;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-family: "Fira Sans", sans-serif;
  max-width: 500px;
  width: 90%;
}

.test-taker-details {
  display: grid;
  grid-template-columns: 120px 1fr;
  font-size: 18px;
}
.test-taker-details__field-name {
  color: gray;
}
.test-taker-details__last-name, .test-taker-details__first-name {
  text-transform: capitalize;
}
.test-taker-details__password {
  font-size: 0;
}
.test-taker-details__password:hover {
  font-size: 18px;
}
.test-taker-details__password:hover:before {
  content: "";
}
.test-taker-details__password:before {
  content: "Hover to reveal";
  font-size: 18px;
  color: var(--accent-color);
}

@keyframes side {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(500%);
  }
}
.test-taker-preview {
  display: grid;
  grid-row-gap: 5px;
  grid-column-gap: 20px;
  grid-template-areas: "picture name" "picture id" "details details";
  grid-template-columns: 100px 1fr;
}
.test-taker-preview__picture {
  grid-area: picture;
  width: 100px;
  height: 100px;
  clip-path: circle();
  font-size: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.test-taker-preview__picture img {
  max-width: 100%;
}
.test-taker-preview__id {
  grid-area: id;
  color: gray;
  font-size: 20px;
}
.test-taker-preview__id:before {
  content: "#";
}
.test-taker-preview__name {
  grid-area: name;
  font-size: 36px;
  text-transform: capitalize;
  display: inline-block;
  align-self: end;
}
.test-taker-preview__details {
  grid-area: details;
}
.test-taker-preview__details-box_hidden {
  display: none;
}
.test-taker-preview__details-box[data-loaded=false]:after {
  content: "";
  display: block;
  background-color: var(--accent-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation-name: side;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.test-taker-preview__show-details {
  border: 0px;
  width: 100%;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.test-taker-preview__show-details:hover {
  background-color: lightgrey;
}
.test-taker-preview__show-details:before {
  content: "";
  display: block;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  transform: rotate(-45deg);
  width: 10px;
  height: 10px;
}
.test-taker-preview__show-details_opened:before {
  transform: rotate(135deg);
}

.list {
  padding: 0;
}
.list__item {
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  padding: 20px;
  border-radius: var(--radius);
  list-style-type: none;
}
.list__no-items-message {
  font-size: 1.5em;
  padding: 20px;
}

.page__navigation {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.page__prev, .page__next {
  padding: 10px;
  border-radius: var(--radius);
  background: var(--accent-color);
  border: 0px;
  outline: none;
  color: white;
  flex: 1;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
