.list{
    padding: 0;
    
    &__item{
        box-shadow: 2px 3px 10px rgba(0,0,0,0.1);
        margin-bottom: 15px;
        padding: 20px;
        border-radius: var(--radius);
        list-style-type: none;
    }
    &__no-items-message{
        font-size: 1.5em;
        padding: 20px;
    }
}